.sponsor-title{
  text-align: center;
}
.sponsor-title h3{
  background-color:#F8F9F9;
  color:black;
  padding:5px;
}
.sponsor-title img{
  max-width:500px;
}
.sub{
  width:150px;
}
.header-banner{
  float:right;
  width:750px;
  margin-top:25px;
  margin-left:150px;
}
